@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";
@theme {
  --font-JetBrains: "JetBrains Mono", monospace;
  --color-customBtn: "red";
}
.upload-btn {
  background: #4f46e5;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}
